<configuration debug="true">

    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                <!--%d{HH:mm:ss.SSS} %-5level [%thread] [%X{traceId}] [%X{userId}] %logger{36} - %msg%n-->
                %d{yyyy-MM-dd HH:mm:ss} %-5level traceId=%X{traceId} userId=%X{userId} role=%X{role} %logger - %msg%n
            </pattern>
        </encoder>
    </appender>

<!--    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>logs/app.log</file>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>logs/app.%d{yyyy-MM-dd}.log</fileNamePattern>-->
<!--            <maxHistory>7</maxHistory>-->
<!--        </rollingPolicy>-->
<!--        <encoder>-->
<!--            <pattern>-->
<!--                %d{yyyy-MM-dd HH:mm:ss} %-5level traceId=%X{traceId} userId=%X{userId} role=%X{role} %logger - %msg%n-->
<!--            </pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/app.log</file>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5level traceId=%X{traceId} userId=%X{userId} role=%X{role} %logger - %msg%n
            </pattern>
        </encoder>
    </appender>

<!--    log from level INFO would be written to console -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>