<configuration>

    <!-- DEV: log đẹp -->
<!--    <springProfile name="dev">-->
        <appender name="CONSOLE"
                  class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>
                    %d{HH:mm:ss.SSS} %-5level [%thread] [%X{traceId}] [%X{userId}] %logger{36} - %msg%n
                </pattern>
            </encoder>
        </appender>
<!--    </springProfile>-->

    <!-- PROD: log JSON cho Grafana hiện tại chưa cắm vào :vv-->
<!--    <springProfile name="prod">-->
<!--        <appender name="CONSOLE"-->
<!--                  class="ch.qos.logback.core.ConsoleAppender">-->
<!--            <encoder class="net.logstash.logback.encoder.LogstashEncoder">-->
<!--                <includeMdc>true</includeMdc>-->
<!--            </encoder>-->
<!--        </appender>-->
<!--    </springProfile>-->

    <root level="INFO">
        <!--  log to stdout aka console      -->
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>